<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create new user</title>
</head>
<body>
<h1>Create a new user</h1>
<%= render "form" %>
<p>
  <%= link_to 'Return to articles listing', articles_path %>
</p>
</body>
</html>